---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import IntroBanner from "../components/IntroBanner.astro";
import WhereToFind from "../components/WhereToFind.astro";
import WorkingExperience from "../components/WorkingExperience.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <IntroBanner />
    <WhereToFind />
    <WorkingExperience />
    <Footer />
  </body>
</html>
