<div class="container mx-auto p-4 mt-12 mb-12 md:flex">
  <div
    class="text-center flex flex-col content-center justify-center mb-12 md:mb-0 md:mr-12"
  >
    <h2 class="text-4xl mb-10 md:leading-normal md:mb-0">
      <span class="text-green-500 font-bold">Visal .In</span> lives in a matrix
    </h2>
    <p class="text-xl">
      He is just an ordinary guy who lives in the matrix known as "Earth". He
      struggles to navigate the world, just like you. He turns to programming as
      a means to free himself and get closer to finding the answer to escape
      this reality
    </p>
  </div>
  <div
    class="flex-shrink-0 flex content-center justify-center m-12 md:m-0 md:w-96"
  >
    <svg
      viewBox="0 0 36 36"
      fill="none"
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      width="240"
      height="240"
      ><mask
        id=":rgi:"
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="36"
        height="36"
        ><rect width="36" height="36" rx="72" fill="#FFFFFF"></rect></mask
      ><g mask="url(#:rgi:)"
        ><rect width="36" height="36" fill="#ff948b"></rect><rect
          x="0"
          y="0"
          width="36"
          height="36"
          transform="translate(-4 -4) rotate(188 18 18) scale(1.2)"
          fill="#fcd487"
          rx="36"></rect><g transform="translate(-4 -4) rotate(8 18 18)"
          ><path
            d="M15 21c2 1 4 1 6 0"
            stroke="#000000"
            fill="none"
            stroke-linecap="round"></path><rect
            x="11"
            y="14"
            width="1.5"
            height="2"
            rx="1"
            stroke="none"
            fill="#000000"></rect><rect
            x="23"
            y="14"
            width="1.5"
            height="2"
            rx="1"
            stroke="none"
            fill="#000000"></rect></g
        ></g
      ></svg
    >
  </div>
</div>
