<div>
  <div class="container mx-auto md:flex">
    <div class="md:w-1/2 p-8 bg-cyan-300 text-black">
      <h2 class="text-xl font-bold mb-2">Personal Projects</h2>
      <p>
        He works on various of open source. None are successful at the moment,
        but hey, at least he is trying.
      </p>

      <div class="mt-4">
        <div class="btn p-4">
          <h3 class="font-bold">query master</h3>
          <p class="text-sm text-gray-500">
            It is a free, open-source, and cross-platform GUI tool for
            databases.
          </p>
        </div>

        <div class="btn p-4 mt-3">
          <h3 class="font-bold">god_crypto</h3>
          <p class="text-sm text-gray-500">
            Pure Javascript/Typescript Crypto Implementation for Deno. AES, RSA,
            HMAC, and TOTP
          </p>
        </div>
      </div>
    </div>

    <div class="md:w-1/2 p-8 bg-purple-500">
      <h2 class="text-xl font-bold mb-2">Where to find him?</h2>
      <p>
        He travels from places to places. It is hard to pinpoint his exact
        location. But there are several place that you can try
      </p>

      <div class="mt-4 flex gap-3 flex-wrap">
        <a href="#" class="btn text-sm">github</a>
        <a href="#" class="btn text-sm">stackoverflow</a>
        <a href="#" class="btn text-sm">facebook</a>
        <a href="#" class="btn text-sm">hackerrank</a>
        <a href="#" class="btn text-sm">leetcode</a>
      </div>
    </div>
  </div>
</div>
