---
import ExperienceItem from "./ExperienceItem.astro";
---

<div class="container mx-auto p-4 mt-12">
  <h2 class="text-2xl font-bold mb-8">Experiences</h2>

  <ExperienceItem
    title="Consultant"
    workplace="Outerbase"
    date="2024 till present"
    description="Outerbase is a cloud-based database management platform that enables teams to collaboratively query, analyze, and visualize data, offering AI-driven natural language to SQL conversion and real-time collaboration features."
  />

  <ExperienceItem
    title="Cofounder"
    workplace="L192"
    date="2011 till present"
    description="He started as a one-man developer and implemented everything from order management, supply chain systems, payment, and logistics systems to mobile development for the first several years. Currently, he only provides technical consulting."
  />
  <ExperienceItem
    title="Cofounder"
    workplace="Mediaload"
    date="2012 till present"
    description="He began as a one-man developer. For the first several years, he implemented everything from a Content Management System (CMS) to an advertising platform. Currently, he only provides technical consulting."
  />
  <ExperienceItem
    title="Founder"
    workplace="KhmerCoder Community"
    date="2018 till present"
    description="Gather like-minded people to share new technology, inform about job opportunities, and discuss our stress levels and trash talk about new technology"
  />
  <ExperienceItem
    title="Developer Circle Lead in Phnom Penh"
    workplace="Facebook"
    date="2018-2020"
    description="He just scheduled a bunch of meetings and convinced local developers to use Facebook developer products. It was nothing special."
  />
  <ExperienceItem
    title="Senior Developer"
    workplace="Manich Enterprise"
    description="Write a bunch of things. It was a fun experience there."
    date="2011-2012"
  />
</div>
